.AuthOrganism {
    &-SelectButtonsWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px auto;
    }
    &-RadioButton {
        width: 150px;
        text-align: center;
    }
}
